.route-form__button {
  display: block;
  align-self: flex-end;
  width: 53%;
  height: 30px;
  border: none;
  color: #fff;
  background-color: #000;
  text-align: center;
  text-decoration: none;  
}

@media screen and (max-width: 450px) {
  .route-form__button{
    align-self: center ;
  }
}
