.route-form__button {
  display: block;
  align-self: flex-end;
  width: 53%;
  height: 30px;
  border: none;
  color: #fff;
  background-color: #000;
  text-align: center;
  text-decoration: none;
  font-family: 'Open sans', 'Arial', sans-serif;
  font-style:  normal;
  font-weight: bold;
  font-size: 12px;
}

.route-form__button:hover {
  transition: .6s ease-in-out;
  background-color: #fed0ad;
  color: black;
}

@media screen and (max-width: 450px) {
  .route-form__button{
    align-self: center ;
  }
}


