.places {
  /* border: firebrick dashed 2px; */
  margin: 0 auto;
  max-width: 1280px;  
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, minmax(640px, 640px));
  object-fit: cover;
}

@media screen and (max-width: 1280px) {
  .places {
    grid-template-rows: repeat(3, 50vw);
  }
}

@media screen and (max-width: 800px) {
  .places {
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 100vw);

  }
}

/* @media screen and (max-width: 768px) {
  .places {
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 640px);
  }
} */