.form__save-btn {
  background: #000;
  color: #fff;
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin: 18px 0 30px;
  border: 1px solid #000;
  border-radius: 2px;
  cursor: pointer;
}

.form__save-btn:hover {
  opacity: 0.8;
}

.form__save-btn:focus {
  opacity: 0.8;
}

@media (max-width: 880px) {
  .form__save-btn {
    font-size: 14px;
    width: 238px;
    height: 46px;
  }
}
