.route-form__textarea {
  display: block;
  margin-bottom: 20px;
  padding-left: 15px;
  border: none;
  width: 100%;
  max-width: 343px;
  height: 100px;
  resize: none;

  font-family: 'Open sans', 'Arial', sans-serif;
  font-style:  normal;
  font-weight: bold;
  font-size: 12px;
}

@media screen and (max-width: 450px) {
  .route-form__textarea {
    max-width: 280px;
    margin: 0 auto 20px;
  }
}