.footer {
  /* Шрифт */
  font-family: 'Open sans', 'Arial', sans-serif;
  font-style:  normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 46px;
  letter-spacing: 0.03em;

  display: flex;
  background-color: #fecda7;
  width: 100%;
  height: 56.25vw;
  max-height: 626px;
  margin-top: -5px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 450px) {
  .footer {
    font-size: 20px;
  }
}